@{
    ViewBag.Title = "About BFF";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<ul>
    <li>Take our quiz to find out what kind of furry friend fits your lifestyle, living situation, and pet preferences.</li>
    <li>Use our map to find Humane Societies & Dog Shelters in your area to adopt and save lives.</li>
    <li>Come back once you've  taken your best friend home to find local trainers, training videos, and dog walkers.</li>    
</ul> 

