@{
    ViewBag.Title = "About BFF";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<ul>
    <li>Take our quiz to find out what kind of furry friend fits your lifestyle, living situation, and pet preferences.</li>
    <li>Use our map to find Humane Societies & Dog Shelters in your area to adopt and save lives.</li>
    <li>Come back once you've  taken your best friend home to find local trainers, training videos, and dog walkers.</li>    
</ul> 
<h4>The importantce of training</h4>
<p>Training is one of the most vital pieces of the dog/owner relationship. Without proper training, your pet doesn't 
    know your rules or expectations, and can develop anxiety when they're punished and don't know why. Training your 
    furry friends helps to strengthen your relationship, create clear guidelines, and make them feel secure. Training is
    especially important for pets who will be left alone for long periods of time, so you don't come home to any unwelcome
    suprises!</p>
