@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Best Friend Finder</h1>
    <h3>Helping your forever friend find a forever home.</h3>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Get started with our Quiz</h2>
        <p>
            Find out which dog breeds are the best fit for your lifestyle.
        </p>
        <p><a class="btn btn-default" href="#">Let's Go! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find Local Shelters</h2>
        <p>Save a life by adopting from local Humane Societies and Shelters. Become a forever home!</p>
        <p><a class="btn btn-default" href="#">Find Shelters &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find Pet Services</h2>
        <p>Already have a furry friend? Click below to find useful pet services near you.</p>
        <p><a class="btn btn-default" href="#">Local Services &raquo;</a></p>
    </div>
</div>