@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Our Story</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4><strong>Question:</strong> Who loves dogs?</h4>
            <h4><strong>Answer:</strong> Just about everyone.</h4><br />
            <p>
                The truth is, pet ownership isn't always easy. We wanted a single source for everything you could ever need
                to know about owning, loving, and caring for a dog. Every pet deserves a forever home,
                and every owner deserves a companion who fits. Also, we just love dogs.
            </p>
        </div>
        <div class="col-md-6">
            <h4><strong>Say Hello to Allegra.</strong><br/></h4>
                 <h4>She's the reason we started doing what we do.</h4><br />
            <p>
                Allegra found her forever home with me at age three, and when we said goodbye she was old and gray. She was a German Shepherd, 
                Border Collie mix and proof that you don't need a purebred to have a good pet. This doggo enjoyed playing catch and sunbathing
                in long grass. Adoption brought us together, tennis balls made us friends.
            </p>
            <div class="img-wrapper">
                <img src="~/Content/Styles/Allegra.jpeg" class="allegra" alt="Black and brown dog with brown eyes and white paws. Ears are set back and tongue hands out" />
            </div>
        </div>
    </div>
</div>


