@import "_Variables.scss";

body {
    font-family: $brand-font;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    font-family: Raleway;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: $brand-font;
}

.btn-primary {
    color: #333333;
    background-color: $secondary-green;
    border-color: #cccccc;
}

.container .jumbotron {
  border-radius: 20px;
}
.jumbotron{
    margin-top:30px;
    img .jumbotron-logo{
        float: right;
        height: 90%;
        vertical-align: middle;
    }
}

iframe{
    .googlemap{
    justify-content:center;
    }
    border: none;
    width: 100%;
    height: 500px;
    padding-top: 30px;
}

.form-horizontal .form-group{
margin-right: -15px;
margin-left: 0px;
}

a{
    color: $hover-green;
    &:hover{
        color: $hover-green;
    }
}

.container {
    .row{
        .svc-home{
            margin: 10px;
            border-radius: 6px;
            background-color: #efefef;           
        }
        input{
            position: absolute;
        }
    }
}

input{
    &[type="file"]{
        background-color: $hover-green;
    }
    
}

#file-upload{
    opacity: 0;
}

