@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <h1>Shelters in your area.</h1>
        <h3>Save a life, adopt locally.</h3>
        <p>
            At Best Friend Finder we promote adoption from local shelters over breeders, because the perfect dog 
            isn't a genetic recipe. You don't pick a best friend for looks or pedigree - it's a natural connection 
            that happens over time. We feel that the same is true for furry friends.
        </p>
    </div>
    <div class="col-md-8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d46621.054010479456!2d-87.91069451296315!3d43.08736617723055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sdog+shelters!5e0!3m2!1sen!2sus!4v1526658231826" class="googlemap"></iframe>
    </div>
</div>
