@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dog Training in your area.</h1>

<h3>The importance of training:</h3>
<p>
    Training is one of the most vital pieces of the dog/owner relationship. Without proper training, your pet doesn't
    know your rules or expectations, and can develop anxiety when they're punished and don't know why. Training your
    furry friends helps to strengthen your relationship, create clear guidelines, and make them feel secure. Training is
    especially important for pets who will be left alone for long periods of time, so you don't come home to any unwelcome
    suprises!
</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d46621.054010479456!2d-87.91069451296315!3d43.08736617723055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sdog+grooming!5e0!3m2!1sen!2sus!4v1526658231826" 
width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

