@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <h1>Groomers in your area.</h1>
        <h3>Keep your pet looking and feeling their best.</h3>
        <p>
            Adventures in the mud? A fun run through the brush? Just time for a bath? Regular grooming keeps your pets' coat healthy and functional, their nails short and comfortable, and you feeling proud to show them off. Treat yo' pet.
        </p>
    </div>
    <div class="col-md-8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d46621.054010479456!2d-87.91069451296315!3d43.08736617723055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sdog+grooming!5e0!3m2!1sen!2sus!4v1526658231826" class="googlemap"></iframe>
    </div>
</div>
