@model IEnumerable<BestFriendFinder2.Models.Service>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-3 svc-home">
            <h2>Train for Life</h2>
            <p>
                There are no bad dogs, only poorly trained ones.
            </p>
            <p><a class="btn btn-default" href="/Services/Training">Training Services &raquo;</a></p>
        </div>
        <div class="col-md-3 svc-home">
            <h2>Exercise Daily</h2>
            <p>Find a local walking service to keep your best friend fit.</p>
            <p><a class="btn btn-default" href="/Services/Walking">Walking Services &raquo;</a></p>
        </div>
        <div class="col-md-3 svc-home">
            <h2>Look Good</h2>
            <p>Keep your pet looking fresh - find local groomers.</p>
            <p><a class="btn btn-default" href="/Services">Grooming Services &raquo;</a></p>
        </div>
    </div>
</div>

