@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">   
    <div class="col-md-4">
        <h1>Dog Walkers in your area.</h1>
        <h3>Active breeds need exercise!</h3>
        <p>If you're going to miss your morning run or are just away from home for the day, make sure your pet gets the activity they crave.</p>
    </div>
    <div class="col-md-8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d46621.054010479456!2d-87.91069451296315!3d43.08736617723055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sdog+walker!5e0!3m2!1sen!2sus!4v1526658231826" class="googlemap"></iframe>
    </div>
</div>



